extends header
block content
  .jumbotron.jumbotron-fluid
  .container
    h1 Create Products
    form.mt-3(method='POST' action='/products/save')
      .form-group.row
        label.col-sm-2(for='title') Title
        .col-sm-10
          input#title.form-control(type='text'  name='title' placeholder='Please enter a title.' required='')
      .form-group.row
        label.col-sm-2(for='price') Price
        .col-sm-10
          input#price.form-control(type='text'   name='price' placeholder='Please enter a price.' required='')
      .form-group.row
        label.col-sm-2(for='thumbnail') Thumbnail
        .col-sm-10
          input#thumbnail.form-control(type='text'  name='thumbnail' placeholder='Please enter a thumbnail' required='')
      button.btn.btn-primary(type='submit') Save
      a.btn.btn-primary(href='/products/list' type='button') View List
